<h1>Code of Ethics of the Filipino Computing and Information Technology Professional</h1>


<h4><strong>For the purposes of this Code, the following terms are defined as follows</strong></h4>

<h3><strong>Information Technology</strong></h3>
<p>The preparation, collection, creation, transport, retrieval, storage, acces, presentation and transformation of electronic information in all its forms including, but not limited to, voice, graphics, text, video, data and image</p>

<h3><strong>Information Technology Professional</strong></h3>

<p>The one who develops or provides information technology products and/or services to the public</p>